.slidesMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--color-septenary);
}

.global {
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}
