* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-tertiary);
}

:root {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(0, 0, 0);
  --color-tertiary: rgb(253, 244, 225);
  --color-quaternary: rgb(194, 25, 180);
  --color-quinary: #dfd0af;
  --color-senary: #e8acac;
  --color-septenary: #a45785;
  --color-octonary: #85586c;
  --color-nonary: #a1c0a1;

}

.title-cardApresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-family: serif;
  color: rgb(5, 0, 0);
  height: 70px;
}

.title-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 23px;
  font-family: monospace;
  text-align: center;
  color: rgb(0, 0, 0);
}
